<app-card titulo="Primeiro Componente" cor="#3D4D63">
    <app-primeiro-componente></app-primeiro-componente>
</app-card>
<app-card titulo="Aprofundando o conhecimento em Templates" cor="#B2E7EE">
    <app-segundo-componente></app-segundo-componente>
</app-card>

<app-card titulo="Pipes">
    <app-pipe-customizado></app-pipe-customizado>
</app-card>

<app-card titulo="Two-way Data Binding">
    <app-two-way-data-binding></app-two-way-data-binding>
</app-card>

<app-card titulo="Renderizando Listas">
    <app-renderizando-listas></app-renderizando-listas>
</app-card>

<app-card titulo="Componente Personalizado">
    <app-componente-personalizado nome="João" sobrenome="de Deus"></app-componente-personalizado>
</app-card>

<app-card titulo="Componente Pai">
    <app-componente-pai></app-componente-pai>
</app-card>

<app-card titulo="Serviços">
    <app-exemplo-servicos1></app-exemplo-servicos1>
    <app-exemplo-servicos2></app-exemplo-servicos2>

</app-card>


<app-card titulo="ciclo de vida">
    <app-ciclo-de-vida></app-ciclo-de-vida>
</app-card>